/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/* @@@@@@@@@@@@@@@@@@@ */

body {
  display: grid;
  height: 100vh;

  --tictactoe-purple: #3b1f2b;
  --tictactoe-red: #db162f;
  --tictactoe-light: #dbdfac;
  --tictactoe-blue: #5f758e;
  --tictactoe-darkblue: #383961;

  background-color: var(--tictactoe-purple);
}

.game {
  display: grid;
  grid-template-columns: 1fr;
  place-self: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--tictactoe-light);
}

.new-game-button {
  place-self: center;
  font-weight: 600;
  margin-bottom: .5em;
}

.new-game-button:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--tictactoe-red)
}


.player-names-row {
  height: 100px;

  background-color: var(--tictactoe-darkblue);
  font-size: 3em;

  display: grid;
  grid-template-areas: "player-1-name vs player-2-name";
  grid-template-columns: 1fr auto 1fr;

  padding-left: .2em;
  padding-right: .2em;
}

.vs {
  font-size: .5em;
  grid-area: vs;
  justify-self: center;
  align-self: center;
}

.player-1-name {
  grid-area: player-1-name;
  justify-self: left;
  align-self: center;
}

.player-2-name {
  grid-area: player-2-name;
  justify-self: right;
  align-self: center;
}

.row {
  display: flex;
}

.square {
  width: 200px;
  height: 200px;
  background-color: var(--tictactoe-light);
  color: var(--tictactoe-purple);
}

._0-0,
._0-1,
._0-2,
._1-0,
._1-1,
._1-2 {
  border-bottom: 10px solid var(--tictactoe-blue);
}

._0-0,
._1-0,
._2-0,
._0-1,
._1-1,
._2-1 {
  border-right: 10px solid var(--tictactoe-blue);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 150px;
  white-space: nowrap;
}

.player-turn-display {
  margin-top: .5em;
  place-self: center;
  font-weight: 600;
  height: 24px;
}

.winner-display {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tictactoe-light);
  background-color: var(--tictactoe-red);
  font-weight: 700;
}